<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="enable_map" default="true"/>
    <remap from="/habitat_sim/map" to="/map" if="$(arg enable_map)"/>
    <remap from="/cmd_vel" to="/habitat_sim/cmd_vel"/>
    <node pkg="habitat_sim_ros" type="habitat_sim_node.py" name="habitat_sim" required="true">
        <rosparam command="load" file="$(find habitat_sim_ros)/param/test.yaml" />
        <param name="map/enabled" value="$(arg enable_map)"/>
    </node>
    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find habitat_sim_ros)/param/test.rviz"/>
    <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="robot_steering"/>
</launch>
